{% extends "empty.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load myfilter %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}
{% block content %}
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-large-new">添加用户</a>
    <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first ">
        <form action="" method="get">
            <div class="input-icon">
                    <span class="input-icon-addon">
                      <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                           stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                           stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10"
                                                                                                              cy="10"
                                                                                                              r="7"/><line
                              x1="21" y1="21" x2="15" y2="15"/></svg>
                    </span>
                <input type="text" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="Search…"
                       aria-label="Search in website">
            </div>
        </form>
    </div>

    <div class="card">
        <div class="table-responsive">
            <table
                    class="table table-vcenter table-mobile-md card-table">
                <thead>
                <tr>
                    <th>username</th>
                    <th>email</th>
                    <th>Role</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in page_obj %}
                    <tr id="tr-{{ item.id }}">
                        <td data-label="username">
                            <div class="font-weight-medium">{{ item.username }}</div>
                        </td>
                        <td data-label="email">
                            <div class="font-weight-medium">{{ item.email }}</div>
                        </td>
                        <td class="text-muted" data-label="Role">
                            {% if item.isadmin %}
                                Admin
                            {% else %}
                                User
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-list flex-nowrap">
                                <a href="#" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#modal-large"
                                   uid="{{ item.id }}">
                                    Edit
                                </a>
                                <a href="#" class="btn btn-edit-password" data-bs-toggle="modal"
                                   data-bs-target="#modal-large-password" uid="{{ item.id }}">
                                    修改密码
                                </a>
                                <a href="#" uid="{{ item.id }}" data-bs-toggle="modal" data-bs-target="#modal-danger"
                                   class="btn btn-danger btn-delete">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% bootstrap_paginate page_obj extra_pagination_classes="justify-content-center mt-3" %}
    <div class="modal modal-blur fade" id="modal-large-new" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">添加用户</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy formNew formNew.helper %}
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnNewClose" class="btn me-auto" data-bs-dismiss="modal">关闭</button>
                    <button type="button" id="btnNew" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-large" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">编辑</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="formAdd">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">关闭</button>
                    <button type="button" id="btnSave" class="btn btn-primary" data-bs-dismiss="modal">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-blur fade" id="modal-danger" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center py-4">
                    <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9v2m0 4v.01"></path>
                        <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                    </svg>
                    <h3 id="delete-title">确定吗？</h3>
                    <div class="text-muted">删除后，所有与之关联的数据都会被永久删除，请谨慎操作。</div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                取消
                            </a></div>
                            <div class="col"><a href="#" id="modal-btn-delete" class="btn btn-danger w-100"
                                                data-bs-dismiss="modal">
                                确认删除
                            </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-blur fade" id="modal-large-password" tabindex="-1" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="password-title" class="modal-title">编辑</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% crispy formPassword formPassword.helper %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">关闭</button>
                    <button type="button" id="btnSave-password" class="btn btn-primary">保存
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script>
        let DELETE_ID;
        let EDIT_ID;
        let ori_newform;
        let EditPasswordID;
        let ori_passwordform;
        $(function () {
            ori_newform = $('#formNew').html()
            ori_passwordform = $('#formPassword').html()
            bindBtnSaveEvent();
            bindBtnDeleteEvent();
            bindBtnConfirmDeleteEvent();
            bindBtnEditEvent();
            bindBtnEditPassword();
        })

        function bindBtnDeleteEvent() {
            $(".btn-delete").click(function () {
                DELETE_ID = $(this).attr("uid");
                var username = $("#tr-" + DELETE_ID + ">td[data-label='username']").text().trim();
                $("#delete-title").text("确认删除" + username + "吗?")
            });

        }

        function doNew() {
            // 向后台发送请求（添加的Ajax请求）
            $.ajax({
                url: "/usernew/",
                type: "post",
                data: $("#formNew").serialize(),
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        $("#formNew").html(ori_newform)

                        location.reload();
                    } else {
                        $("#formNew").replaceWith(res['form_html']);
                    }
                }
            })
        }

        function doEdit() {
            // 向后台发送请求（添加的Ajax请求）
            $.ajax({
                url: "/useredit/" + "?uid=" + EDIT_ID,
                type: "post",
                data: $("#formAdd").serialize(),
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        $("#formAdd")[0].reset();

                        location.reload();
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                            $('modal-large').show();
                        } else {
                            // 把错误信息显示在对话框中。
                            $('modal-large').show();

                        }
                    }
                }
            })
        }

        function bindBtnSaveEvent() {
            $("#btnSave").click(function () {
                // 清除错误信息
                $(".error-msg").empty();
                if (EDIT_ID) {
                    // 编辑
                    doEdit();
                }
            });
            $("#btnNew").click(function () {
                doNew();
            });
            $("#btnNewClose").click(function () {
                $("#formNew").html(ori_newform)
            });

        }

        function bindBtnEditEvent() {
            $(".btn-edit").click(function () {
                // 清空对话框中的数据
                $("#formAdd")[0].reset();
                var uid = $(this).attr("uid");
                EDIT_ID = uid;

                // 发送Ajax去后端获取当前行的相关数据  /order/detail/?uid=123
                $.ajax({
                    url: "/userdetail/",
                    type: "get",
                    data: {
                        "id": uid
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            console.log(res)
                            $.each(res.data, function (name, value) {
                                $("#id_" + name + "[type!='checkbox']").val(value);
                                $("#id_" + name + "[type='checkbox']").attr("checked", value);
                            })


                        } else {
                            alert(res.error);
                        }
                    }
                })
            });
        }

        function bindBtnConfirmDeleteEvent() {
            $("#modal-btn-delete").click(function () {
                $.ajax({
                    url: "/deleteuser/",  //    => /order/delete/?uid=123
                    type: "GET",
                    data: {
                        id: DELETE_ID
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            location.reload();
                        } else {
                            // 删除失败
                            alert(res.error);
                        }
                    }
                })
            });
        }

        function bindBtnEditPassword() {
            $('.btn-edit-password').click(function () {
                var uid = $(this).attr("uid");
                EditPasswordID = uid;
                var username = $("#tr-" + EditPasswordID + ">td[data-label='username']").text().trim();
                $("#password-title").text("修改" + username + "的密码");
            })
            $('#btnSave-password').click(function () {
                $.ajax({
                    url: "/usereditpassword/" + "?uid=" + EditPasswordID,
                    type: "post",
                    data: $("#formPassword").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert("修改成功");
                            $("#modal-large-password").modal("hide");
                            $("#formPassword").html(ori_passwordform);
                        } else {
                            if (res.tips){
                                alert(res.tips);
                            }
                            else{
                                $("#formPassword").html(res["passwordform_html"])
                            }
                        }
                    }
                })
            })
        }
    </script>

{% endblock %}